*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

#clock{
    height: 40px;
    width: 120px;
    background-color: orange;
    border-radius: 10px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 10px;
}